/* Tablet (2 cards per row) */
@media (max-width: 900px) {
    .playlistcards {
        width: calc(50% - 8px) !important;
    }
}


.section {
    background-color: #121212;
    border-radius: 20px;
    width: 80%;
    background-image: linear-gradient(#2f2759, #121212);
    background-repeat: no-repeat;
    background-size: 100% 40%;
}

.topselect {
    margin-left: 20px;
    margin-top: 20px;
    column-gap: 12px;
}

.topselect li {
    font-weight: 400;
    font-size: 14px;
    list-style: none;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: #433c68;
}

.topselect li:hover {
    cursor: pointer;
    background-color: #4c4768;
}

.topselect li.active {
    background-color: white;
    color: black;
}

.card {
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px;
}

.playlistcards {
    width: calc(25% - 8px);
    height: 50px;
    border-radius: 5px;
    background-color: #3e3765;
    font-size: 14px;
}

.playlistcards:hover {
    background-color: #4c4866;
    cursor: pointer;
}

.cardimage img {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.playlistname {
    padding: 16px 8px;
}