@media (max-width: 768px) {

    nav {
        /* flex-wrap: wrap; */
        /* margin-bottom: 20px; */
        height: 50px;
        gap: 10px;
    }

    .search {
        width: 70% !important;
        /* order: 3; */
    }

    .install,
    .notify ,
    .home,
    .premium,
    .account{
        display: none !important; /* hide extra items */
    }

}
@media (min-width :900px){
    .toggle{
        display: none;
    }
}
@media (max-width: 1400px) {

    nav {
        /* flex-wrap: wrap; */
        /* margin-bottom: 20px; */
        height: 50px;
        gap: 10px;
    }

    .search {
        width: 70% !important;
        /* order: 3; */
    }

    .premium{
        display: none !important; /* hide extra items */
    }

}
nav {
    height: 50px;
    background-color: black;
    color: white;
    align-items: center;
    padding: 6px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav img {
    filter: invert(1);
    cursor: pointer;
}
.toggle{
    /* border: 2px solid green; */
    padding-top: 5px;
    margin-left: 13px;
}
.logo {
    width: 30%;
    padding: 10px;
}
.spotify{
    font-size: 24px;
    margin-left: 10px;
}
.spotify:hover{
    cursor: pointer;
}
.home {
    padding: 6px 12px;
    background-color: var(--bggray);
    border-radius: 1000px;
}

.home:hover {
    transform: scale(1.04);
}

.search {
    width: 25%;
    padding: 12px;
    border-radius: 30px;
    margin: 20px;
    cursor: text;
    background: url("icons/icons8-search.svg");
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 25px 25px;
    padding-left: 40px;
    background-color: var(--bggray);
    font-family: "Host Grotesk";
}

input::placeholder{
    color:var(--gray);
    padding: 4px;
}

input {
    border: 1px solid var(--bggray);
    background-color: var(--bggray);
    color: white;
}
input:hover{
    background-color: #282828;
}

.premium {
    border-radius: 28px;
    padding: 8px;
    background-color: white;
    color: black;
    font-weight: 800;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin: 50px;
}

.premium:hover {
    transform: scale(1.04);
    cursor: pointer;
}

.install {
    padding: 13px;
    column-gap: 10px;
    font-weight: 600;
    font-size: 14px;
    margin: 20px;
    color: var(--gray);
    cursor: pointer;
}

.install:hover {
    color: #d4cfcf;
    transform: scale(1.04);
}

.notify {
    padding: 15px;
    filter: brightness(0.5);
}

.account {
    margin-right: 0;
    padding: 12px;
}